{#
  I'm taking the UX for breadcrumbs from this Norman Nielsen Group article:
  https://www.nngroup.com/articles/breadcrumbs/
#}

{# 
  Let's only render the breadcrumbs if there is more than 2 items,
  i.e. if we have more than just "Home" and "Landing Page", basically
#}
{% if breadcrumb|length > 0 %}
  <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
   
   {# On small screens, just render the parent level of the current page #}
    <div class="small-medium-screen-only">
      <ol class="breadcrumb__items">
        {% for item in breadcrumb %}
          {% if loop.last %}
            <li class="breadcrumb__item">
              <span class="breadcrumb__separator breadcrumb__separator--before">«</span> 
              <a class="breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
    </div>

    {# On large screens, render all breadcrumbs #}
    <div class="large-screen-only">
      <ol class="breadcrumb__items">
        {% for item in breadcrumb %}
          {% if item.url %}
            <li class="breadcrumb__item">
              <a class="breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a> 
              <span class="breadcrumb__separator breadcrumb__separator--after">»</span>
            </li>
          {% endif %}
        {% endfor %}
        
        {% if current_page_title %}
          <li class="breadcrumb__item">{{ current_page_title }}</li>
        {% endif %}
      </ol>
    </div>
    
  </nav>
{% endif %}

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}