{%
set classes = [
  "add-to-calendar"
]
%}

{% set ical_link = 'data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0ADTSTART:' ~ atc_start_date|date("Ymd\\THi00\\Z") ~ '%0ADTEND:' ~ atc_end_date|date("Ymd\\THi00\\Z") ~ '%0ASUMMARY:' ~ atc_title ~ '%0ADESCRIPTION:' ~ atc_details|striptags ~ '%0ALOCATION:' ~ atc_location|replace({'<br />': ' ', '<br>': ' ', '<p>': ' ', '</p>': ''}) ~ '%0AEND:VEVENT%0AEND:VCALENDAR' %}
{% set google_link = 'https://www.google.com/calendar/r/eventedit?text=' ~ atc_title ~ '&dates=' ~ atc_start_date|date("Ymd\\THi00\\Z") ~ '/' ~ atc_end_date|date("Ymd\\THi00\\Z") ~ '&details=' ~ atc_details|striptags ~ '&location=' ~ atc_location|replace({'<br />': ' ', '<br>': ' ', '<p>': ' ', '</p>': ''}) %}

<div{{ attributes.addClass(classes) }}>

<button class="add-to-calendar__trigger" type="button" name="addToCalendarTrigger" aria-label="{{ 'Toggle List of Calendars to Add Event To'|t }}">
  <span class="add-to-calendar__trigger-icon">
    {% include '@basic-elements/icons/_svg.twig'
      with {
        svgpath : '@basic-elements/icons/svg/fa/calendar.svg'
      }
    %}
  </span>
  <span class="add-to-calendar__trigger-text">
    {{ 'Add to Calendar'|t }}
  </span>
</button>

  <div class="add-to-calendar__items">

    <div class="add-to-calendar__item">
      {% include '@basic-elements/icons/_svg.twig'
        with {
          svgpath : '@basic-elements/icons/svg/fa/google.svg'
        }
      %}
      <a href="{{ google_link }}" target="_blank" rel="nofollow">Add to Google Calendar</a>
    </div>

    <div class="add-to-calendar__item">
      {% include '@basic-elements/icons/_svg.twig'
        with {
          svgpath : '@basic-elements/icons/svg/fa/calendar.svg'
        }
      %}
      <a href="{{ ical_link }}">Add to iCal</a>
    </div>

    <div class="add-to-calendar__item">
      {% include '@basic-elements/icons/_svg.twig'
        with {
          svgpath : '@basic-elements/icons/svg/fa/envelope-o.svg'
        }
      %}
      <a href="{{ ical_link }}">Add to Outlook</a>
    </div>

  </div>

</div>
