{% if not paragraph.field_p_tile_image.value == false %}
  {% set has_image = 'has-image' %}
{% endif %}

{%
set classes = [
  "tile",
  paragraph.field_p_tile_size.value,
  paragraph.field_p_tile_bg_colour.value,
  has_image
]
%}

{# These two variables are declared here, but only used in Drupal #}
{% set image_file_path = content.field_p_tile_image[0]['#media'].field_m_image_image.entity.uri.value %}
{% set image_file_alt = content.field_p_tile_image[0]['#media'].field_m_image_image.0.alt %}

<div{{ attributes.addClass(classes) }}>
  <a href="{{ content.field_p_tile_link }}">

    {# If we have an image, do this: #}
    {% if paragraph.field_p_tile_image.value %}

      {% if paragraph.field_p_tile_size.value == 'small' %}

        {% block small_image %}
          <div class="tile__background tile__background--image" style="background-image: url('{{ content.field_p_tile_image.small.src }}')">
        {% endblock %}

        {% else %}

          {% block image %}
            <div class="tile__background tile__background--image" style="background-image: url('{{ content.field_p_tile_image.large.src }}')">
          {% endblock %}

      {% endif %} {# End `if size = small` #}

        {# If we have don't have an image, do this: #}
        {% else %}
          <div class="tile__background">
    {% endif %} {# End `if image` #}


          {% if paragraph.field_p_tile_text.value %}
          <div class="inner">
            {% if paragraph.field_p_tile_title.value %}
              {{ content.field_p_tile_title }}
            {% endif %}
            {{ content.field_p_tile_text }}
            </div>
            {% else %}
              <div class="title-only">
                {{ content.field_p_tile_title }}
              </div>
          {% endif %}

      </div>
  </a>
</div>
