{%
set classes = [
  "social-sharing"
]
%}

<div{{ attributes.addClass(classes) }}>
  <ul class="social-sharing__menu">

    <li class="social-sharing__menu-item social-sharing__menu-item--twitter">
      <a class="social-sharing__menu-link" href="{{ global_variables.social_sharing.twitter }}" target="_blank">
        {% include '@basic-elements/icons/_svg.twig'
          with {
            svgpath: '@basic-elements/icons/svg/fa/twitter.svg'
          }
        %}
        <span class="visually-hidden">Share via Twitter</span></a>
    </li>

    <li class="social-sharing__menu-item social-sharing__menu-item--facebook">
      <a class="social-sharing__menu-link" href="{{ global_variables.social_sharing.facebook }}" target="_blank">
        {% include '@basic-elements/icons/_svg.twig'
          with {
            svgpath: '@basic-elements/icons/svg/fa/facebook.svg'
          }
        %}
        <span class="visually-hidden">Share via Facebook</span></a>
    </li>

    <li class="social-sharing__menu-item social-sharing__menu-item--linkedin">
      <a class="social-sharing__menu-link" href="{{ global_variables.social_sharing.linkedin }}" target="_blank">
        {% include '@basic-elements/icons/_svg.twig'
          with {
            svgpath: '@basic-elements/icons/svg/fa/linkedin.svg'
          }
        %}
        <span class="visually-hidden">Share via LinkedIn</span></a>
    </li>

    <li class="social-sharing__menu-item social-sharing__menu-item--email">
      <a class="social-sharing__menu-link" href="{{ global_variables.social_sharing.email }}" target="_blank">
        {% include '@basic-elements/icons/_svg.twig'
          with {
            svgpath: '@basic-elements/icons/svg/fa/envelope.svg'
          }
        %}
        <span class="visually-hidden">Share via Email</span></a>
    </li>

  </ul>
</div>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content | render %}
{% endblock %}
