{%
set classes = [
  'blog',
  'full',
  node.isPromoted ? 'node--promoted',
  node.isSticky ? 'node--sticky',
  not node.isPublished ? 'node--unpublished',
]
%}

<article{{ attributes.addClass(classes) }}>

  {% if display_submitted %}
    <div class="layout-contained layout-contained--medium padding-horizontal">
      <footer class="blog__meta">
        {{ 'Published: '|t }} {{ node.created.value|date("D d M Y") }}
      </footer>
    </div>
  {% endif %}

  {{ title_prefix }}
  <h1{{title_attributes.addClass('full__title layout-contained layout-contained--medium padding-horizontal')}}>{{ label }}</h1>
  {{ title_suffix }}

  {% if blog_intro %}
    <div class="full__intro layout-contained layout-contained--medium padding-horizontal">
      {{ blog_intro }}
    </div>
  {% endif %}

  {% if main_image %}
    <div class="layout-contained layout-contained--medium">
      <div class="blog__main-image">
        {{ main_image }}
      </div>
    </div>
  {% endif %}

  {% if blog_body %}
    <div class="full__body blog__body layout-contained layout-contained--medium padding-horizontal">
      {{ blog_body }}
    </div>
    {% else %}
    {% block building_blocks %}
      <div class="building-blocks">
        {% for building_block in building_blocks %}
          <div class="building-block">
            {{ building_block }}
          </div>
        {% endfor %}
      </div>
    {% endblock %}
  {% endif %}

  <div class="full__follow-me">
    <div class="layout-contained layout-contained--medium padding-horizontal">
      <div class="full__follow-me-inner">
        <p>If you like what I write, you might like to <a href="https://twitter.com/markconroy">follow me on Twitter @markconroy</a></p>
        <a href="https://twitter.com/markconroy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @markconroy</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>

  
  <div class="full__tags">
    <div class="layout-contained layout-contained--medium padding-horizontal">
      {{ blog_tags }}
    </div>
  </div>

  
  <div class="blog__comments">
    <div class="layout-contained layout-contained--medium padding-horizontal">
      <h2>{{ 'Comments'|t }}</h2>
      {{ blog_comment }}
    </div>
  </div>

</article>
