<div class="js-form-item form-item js-form-type-select form-type-select js-form-item-{{ form_element_name|lower }} form-item-{{ form_element_name|lower }}">
  <label for="edit-{{ form_element_name|lower }}" class="{{ form_label_class }}">{{ form_element_name }}</label>
  <select data-drupal-selector="edit-{{ form_element_name|lower }}" id="edit-{{ form_element_name|lower }}" name="{{ form_element_name|lower }}" class="form-select">
    <option value="All" selected="selected">- Any -</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <option value="4">Option 4</option>
    <option value="5">Option 5</option>
    <option value="6">Option 6</option>
  </select>
</div>
