{#
This pattern was created to get away from all designs being very boxy.

There are a number of variations of this available, 
including colours and flipping.

It's quite easy to use, just include it directly in your template,
swapping in variations for:
- colours, options are:
  - gradient_colour_1
  - gradient_colour_2
  - (all colours in our $theme-colours are available)
- layout, options are:
  - gradient_flip_horizontal
  - gradient_flip_vertical

Those options are then added as classes to the gradient div.
Make sure you put them in exactly as they are above 

To see all variations in action, click the 'View All' link of this pattern.
#}

{# We need a random id, because there will be more than one gradient on a page #}
{% set gradient_id = 'gradient-id-' ~ random(0, 10000) %}

<div class="gradient{% if gradient_flip_horizontal %} gradient--flip-horizontal{% endif %}{% if gradient_flip_vertical %} gradient--flip-vertical{% endif %}">

  <?xml version="1.0" ?>
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" 
  viewBox="0 0 1 1" preserveAspectRatio="none">
    <linearGradient id="{{ gradient_id }}" gradientUnits="userSpaceOnUse" 
    x1="0%" y1="0%" x2="100%" y2="0%" gradientTransform="rotate(65)">
      <stop class="gradient__colour gradient__colour--item-1 gradient__colour--{{ gradient_colour_1 }}" offset="0" {# stop-color="#ffffff" #} stop-opacity="1"/>
      <stop class="gradient__colour gradient__colour--item-2 gradient__colour--{{ gradient_colour_1 }}" offset="50%" {# stop-color="#ffffff" #} stop-opacity="1"/>
      <stop class="gradient__colour gradient__colour--item-3 gradient__colour--{{ gradient_colour_2 }}" offset="60%" {# stop-color="#262262" #} stop-opacity="1"/>
      <stop class="gradient__colour gradient__colour--item-4 gradient__colour--{{ gradient_colour_2 }}" offset="100%" {# stop-color="#262262" #} stop-opacity="1"/>
    </linearGradient>
    <rect x="0" y="0" width="1" height="1" fill="url(#{{ gradient_id }})" />
  </svg>

</div>
