{%
set classes = [
  "basic-page",
  "full",
  node.isPromoted ? 'node--promoted',
  node.isSticky ? 'node--sticky',
  not node.isPublished ? 'node--unpublished',
]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    <h1{{ title_attributes.addClass('full__title layout-contained layout-contained--medium padding-horizontal') }}>{{ label }}</h1>
  {{ title_suffix }}

  {% if main_image %}
    <div class="full__main-image">
      {{ main_image }}
    </div>
  {% endif %}

  {% if introduction %}
    <div class="full__intro layout-contained layout-contained--medium padding-horizontal">
      {{ introduction }}
    </div>
  {% endif %}

  {% if basic_page_body %}
    <div class="layout-contained layout-contained--medium padding-horizontal">
      {{ basic_page_body }}
    </div>
  {% endif %}

</article>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
