{#
  This pattern is used to create the HTML for the "Image with Text" paragraph
  bundle.
#}

{%
set classes = [
  'iwt',
  "layout-contained",
  "padding-horizontal",
  alignment,
]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="iwt__inner">
    <div class="iwt__image">
      {{ it_image }}
    </div>

    <div class="iwt__content">
      {% if it_title %}
        <h2 class="iwt__title h2">
          {{ it_title }}
        </h2>
      {% endif %}
      {% if it_text %}
        <div class="iwt__text be-text--large">
          {{ it_text }}
        </div>
      {% endif %}
      {% if it_cta %}
        <div class="iwt__cta">
          {{ it_cta }}
        </div>
      {% endif %}
    </div>
  </div>

</div>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
