{%
set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted ? 'node--promoted',
  node.isSticky ? 'node--sticky',
  not node.isPublished ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>

  {% if display_submitted %}
    <div class="layout-contained--small padding">
      <footer class="node__meta">
        <div class="node__meta--published">
          Published: {{ node.created.value|date("D d M Y") }}
        </div>
      </footer>
    </div>
  {% endif %}

  {{ title_prefix }}
    <h1{{ title_attributes.addClass('padding') }}>{{ label }}</h1>
  {{ title_suffix }}

  {{ content.field_intro }}
  {% if content.field_main_image %}
    <div class="layout-contained--medium">
      {{ content.field_main_image }}
    </div>
  {% endif %}

  {% block building_blocks %}
    <div class="building-blocks">
      {% for building_block in content.field_building_blocks %}
        <div class="building-block">
          {{ building_block }}
        </div>
      {% endfor %}
    </div>
  {% endblock %}

  <div class="layout-contained--small padding">
    {{ content.field_tags }}
  </div>

  <div class="layout-contained--small padding">
    {{ content.comment }}
  </div>

</article>
