{%
  set classes = [
    'file-upload-file',
    'file-upload-file--' ~ file_type|lower,
  ]
%}

<a{{ attributes.addClass(classes) }} href="{{ file_download_link }}">
  <div class="file-upload-file__name">
    {{ file_name }}
  </div>
  <div class="file-upload-file__type">
    {{ file_type }}
  </div>
  <div class="file-upload-file__download-icon">
    {% include '@basic-elements/icons/_svg.twig'
      with {
        svgpath : '@basic-elements/icons/svg/fa/arrow-circle-down.svg'
      }
    %}
  </div>
</a>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}