{% extends "@building-blocks/tiled-layout/tile.twig" %}

{% block small_image %}
  <div class="tile__background tile__background--image" style="background-image: url('{{ image_file_path | image_style('square') }}')">
    <span class="visually-hidden">{{ 'Background image present, alt tag from image says:'|t }} {{ ' ' }} {{ image_file_alt }}</span>
{% endblock %}

{% block image %}
  <div class="tile__background tile__background--image" style="background-image: url('{{ image_file_path | image_style('widescreen_television') }}')">
    <span class="visually-hidden">{{ 'Background image present, alt tag from image says:'|t }} {{ ' ' }} {{ image_file_alt }}</span>
{% endblock %}
