{%
set classes = [
  'full',
  'speaking',
]
%}

<article{{attributes.addClass(classes)}}>

  {{ title_prefix }}
  <h1{{title_attributes.addClass('full__title layout-contained layout-contained--medium padding-horizontal')}}>{{ label }}</h1>
  {{ title_suffix }}

  {% if speaking_intro %}
    <div class="layout-contained layout-contained--medium padding-horizontal">
      <div class="full__intro speaking__intro">
        {{ speaking_intro }}
      </div>
    </div>
  {% endif %}

  {% if conference or speaking_date or location %}
    <div class="layout-contained layout-contained--medium padding-horizontal">
      <div class="speaking__meta">

        {% if conference %}
          <div class="speaking__meta-item speaking__meta-item--conference">
            <div class="speaking__meta-item-label">
              {{ 'What'|t }}
            </div>
            <div class="speaking__meta-item-content">
              {{ conference }}
            </div>
          </div>
        {% endif %}

        {% if location %}
          <div class="speaking__meta-item speaking__meta-item--location">
            <div class="speaking__meta-item-label">
              {{ 'Where'|t }}
            </div>
            <div class="speaking__meta-item-content">
              {{ location }}
            </div>
          </div>
        {% endif %}

        {% if speaking_date %}
          <div class="speaking__meta-item speaking__meta-item--speaking-date">
            <div class="speaking__meta-item-label">
              {{ 'When'|t }}
            </div>
            <div class="speaking__meta-item-content">
              {{ speaking_date }}
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  {% endif %}

  {% if speaking_video %}
    <div class="layout-contained layout-contained--medium padding-horizontal">
      <div class="video speaking__video">
        <div class="video__item speaking__video-item">
          {{ speaking_video }}
        </div>
      </div>
    </div>
  {% endif %}

  {% block building_blocks %}
    <div class="building-blocks">
      {% for building_block in building_blocks %}
        <div class="building-block">
          {{ building_block }}
        </div>
      {% endfor %}
    </div>
  {% endblock %}

  {% if speaking_tags %}
    <div class="layout-contained layout-contained--medium padding">
      <div class="full__tags">
        {{ speaking_tags }}
      </div>
    </div>
  {% endif %}


</article>
