{% if pl_class %}
  <div class="layout-contained layout-contained--medium padding-horizontal">
{% endif %}

{%
set classes = [
  "timeline-item"
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="timeline-item__bar timeline-item__bar--small-screens"></div>
  
  <div class="timeline-item__content">
  
    <div class="timeline-item__image">
      {{ timeline_item_image }}
    </div>
    
    <div class="timeline-item__bar timeline-item__bar--large-screens"></div>
    
    <div class="timeline-item__texts">
      <h3 class="timeline-item__title">
        {{ timeline_item_title }}
      </h3>
      <div class="timeline-item__text be-text--small">
        {{ timeline_item_text }}
      </div>
    </div>
  
  </div>
</article>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}

{% if pl_class %}
  </div>
{% endif %}