<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content type</th>
      <th>Author</th>
      <th>Status</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="{{ url }}">Back to the Future: No More Static Mockups!</a>
      </td>
      <td>Speaking</td>
      <td>
        <a href="{{ url }}">markconroy</a>
      </td>
      <td>Published</td>
      <td>06/14/2019 - 13:03</td>
    </tr>
    <tr>
      <td>
        <a href="{{ url }}">Live demo: Using GatsbyJS to Build a Decoupled (Drupal) Website</a>
      </td>
      <td>Speaking</td>
      <td>
        <a href="{{ url }}">markconroy</a>
      </td>
      <td>Published</td>
      <td>06/14/2019 - 10:34</td>
    </tr>
    <tr>
      <td>
        <a href="{{ url }}">
          Getting Started Creating Apps with Drupal and Ionic Framework</a>
      </td>
      <td>Speaking</td>
      <td>
        <a href="{{ url }}">markconroy</a>
      </td>
      <td>Published</td>
      <td>06/13/2019 - 22:05</td>
    </tr>
    <tr>
      <td>
        <a href="{{ url }}">Adding Tokens for Metatag Image Fields when using Drupal Media Entity</a>
      </td>
      <td>Article</td>
      <td>
        <a href="{{ url }}">markconroy</a>
      </td>
      <td>Archived</td>
      <td>05/28/2019 - 22:22</td>
    </tr>
    <tr>
      <td>
        <a href="{{ url }}">Creating an 'Add to Calendar' Widget in Drupal</a>
      </td>
      <td>Article</td>
      <td>
        <a href="{{ url }}">Anthony Lindsay</a>
      </td>
      <td>Unpublished</td>
      <td>05/28/2019 - 11:09</td>
    </tr>
    <tr>
      <td>
        <a href="{{ url }}">10 Simple Tips for Front-end Developers</a>
      </td>
      <td>Article</td>
      <td>
        <a href="{{ url }}">Annertech</a>
      </td>
      <td>Published</td>
      <td>01/16/2018 - 09:28</td>
    </tr>
  </tbody>
</table>