{%
set classes = [
  'teaser'
]
%}
<article{{ attributes.addClass(classes) }}>

  {% if display_submitted %}
    <footer class="teaser__meta">
      <div class="teaser__meta-item teaser__meta-item--published">
        {{ 'Published: '|t }} {{ node.created.value|date("D d M Y") }}
      </div>
    </footer>
  {% endif %}

  {% if content_type == 'speaking' %}
    <footer class="teaser__meta">
      {{ speaking_event }} {{ ' | ' }} {{ speaking_date|date("D d M Y") }}
    </footer>
  {% endif %}

  {{ title_prefix }}
    <h2{{ title_attributes.addClass('teaser__title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {{ title_suffix }}

  {% if teaser_intro %}
    <div class="teaser__intro">
      {{ teaser_intro }}
    </div>
  {% endif %}

</article>
