{%
set classes = [
  "gallery",
  "layout-contained",
  "layout-contained--medium",
  "padding-horizontal"
]
%}

{{ attach_library('weatherlab/unite_gallery_default_theme') }}
{{ attach_library('weatherlab/unite_gallery') }}
{{ attach_library('weatherlab/gallery') }}

{#
  We need a random id here so we can have more than one gallery on a page.
  The gallery #id is used in gallery.js to trigger the gallery library.
#}
<div id="gallery__{{ random(10000) }}" {{ attributes.addClass(classes) }} style="display: none;">

  {% block content %}
    {% for content in contents %}
      {{ content }}
    {% endfor %}
  {% endblock %}

</div>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}