{%
set classes = [
  "tile",
  tile_image ? 'tile--has-image',
  tile_style ? 'tile--' ~ tile_style,
  tile_size ? 'tile--' ~ tile_size,
]
%}

{% if tile_link_url %}
  {% set element = 'a' %}
  {% else %}
    {% set element = 'div' %}
{% endif %}

<{{element}}{{ attributes.addClass(classes) }}{% if tile_link_url %} href="{{ tile_link_url}}"{% endif %}>



    {% if tile_image %}
      <div class="tile__image">
        {{ tile_image }}
      </div>
    {% endif %}

    {% if tile_title %}
      <div class="tile__title h1">
        {{ tile_title }}
      </div>
    {% endif %}

    {% if tile_text %}
      <div class="tile__text">
        {{ tile_text }}
      </div>
    {% endif %}



</{{element}}>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
